table{
    border-collapse:collapse;
    table-layout:fixed;
    font:20pt Arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

td{
    cursor:move;
    border:3px solid red;
    width:48px;
    height:48px;
    text-align:center;
}

body{
     text-align: center;
}
